@{
    ViewBag.Title = "Panttec";
}

<!--MENU PAR2-->
<script>
    document.getElementById('menu_principal').style.display = "none";
</script>

<form class="container body-content" id="formula">
    <fieldset>
        <div id="contform">
            <legend>Cambios </legend>
            <legend>Informacion General</legend>

            <label> BIENVENIDO A LA PANTALLA DE TECNICO</label>
        </div>
    </fieldset>
</form>
