@{
    ViewBag.Title = "Panttec";
}

<!--MENU PAR2-->
<script>
    document.getElementById('menu_login').style.display = "none";
</script>

<form class="container body-content" id="formula">
    <label>hello bienvenido a worlddisney</label>
</form>