@{
    ViewBag.Title = "Pantusuario";
}

<!--MENU PAR2-->
<script>
    document.getElementById('menu_login').style.display = "none";
</script>

<form class="container body-content" id="formula">
    <input type="type" name="name" value="" />
    <input type="type" name="name" value="" />
</form>