@{
    ViewBag.Title = "Panttec";
}

<!--MENU PAR2-->
<script>
    document.getElementById('menu_principal').style.display = "none";
</script>


<form class="container body-content" id="formula">
    <fieldset>
        <div id="contform">
            <div class="col-md-6">
                <legend>Pantalla Técnico</legend>
            </div>
            <div class="col-md-6">
                <img class="imgen" src="~/img/suport.png" alt="compu" />
            </div>
            <legend>Informacion General</legend>

            <div class="col-md-12">
                <label> BIENVENIDO A LA PANTALLA DE TECNICO</label>
            </div>
        </div>
    </fieldset>
</form>>
