/*BODY*/

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.container {
    width: auto;
    margin: 0px;
    padding: 0px;
}
.nav {
    padding-left: 1000px;
}

#piepag {
    background-color: black;
    padding: 20px;
}

#piepag p {
    text-align: center;
    color: white;
}

body {
    font-family: "Lato", sans-serif;
}


/*PANTALLA DE LOGIN*/
.main-head {
    height: 250px;
    background: #FFF;
}

.sidenav {
    height: 120%;
    background-image: url(../img/business.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow-x: hidden;
    padding-top: 13%;
    padding-bottom: 13%;
}

.main {
    padding: 0px 10px;
    padding-top: 17%;
    padding-left: 120px;
    margin-bottom:50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
}

@media screen and (max-width: 450px) {
    .login-form {
        margin-top: 10%;
    }

    .register-form {
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px) {
    .main {
        margin-left: 40%;
    }

    .sidenav {
        width: 40%;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form {
    }

    .register-form {
        margin-top: 20%;
    }
}

.login-main-text {
    margin-top: 20%;
    padding: 60px;
    color: #fff;
    background-color: black;
    opacity: 0.5;
}

.login-main-text h2 {
    font-weight: 300;
}

#btnLogin {
    background-color: #000 !important;
    color: #fff;
    margin-left: 250px;
    margin-top: 55px;
}


/*PANTALLA DE CAMBIOS*/

#tito {
    margin: 0px;
    margin-top: 60px;
    width: 150px;
}

.list-group a {
    background-color: black;
    color: white;
    opacity: 0.5;
}

.list-group a:hover {
    -webkit-box-shadow: 0px 6px 35px 0px #DFDFEA;
    -moz-box-shadow: 0px 6px 35px 0px #DFDFEA;
     box-shadow: 0px 6px 35px 0px #DFDFEA;
}

.cortar {
    padding-left: 35px;
}
#pant {
    background-color: #315F6F;
    color:white;
}

#formula {
    background-image: url(../img/man.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#contform {
    border: 1px solid white;
    margin-right: 60px;
    margin-top: 60px;
    margin-bottom: 70px;
    height: 950px;
    background-image: url(../img/tex.jpg);
    padding-left: 10px;
    padding-right: 25px;
    box-shadow: 7px 10px #878585;
}

#contform legend {
    margin-top: 30px;
}

#contform input {
    margin-right: 10px;
    }
#contform label {
    margin-top:12px;
    }
#causa {
    margin-top: 40px;
}

 #btnLimpiar {
    background-color: black;
    margin-top: 70px;
    margin-left: 1030px;
    padding-right: 30px;
    padding-left: 30px;
    color: white;
    }

#btnLimpiar:hover {
    -webkit-box-shadow: 0px 6px 33px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: 0px 6px 33px 0px rgba(0,0,0,0.50);
    box-shadow: 0px 6px 33px 0px rgba(0,0,0,0.50);
}

#btnGuardar {
    background-color: black;
    margin-top: 70px;
    margin-left: 35px;
    padding-right: 25px;
    padding-left: 25px;
    color: white;
}

 #btnGuardar:hover {  
     -webkit-box-shadow: 0px 6px 33px 0px rgba(0,0,0,0.50);
     -moz-box-shadow: 0px 6px 33px 0px rgba(0,0,0,0.50);
      box-shadow: 0px 6px 33px 0px rgba(0,0,0,0.50);
}
/*PrincipalModif*/
#formPrinmod, #consul, #secuser, #formPricat, #formAprobaciones {
    border: 1px solid white;
    margin-right: 60px;
    margin-top: 60px;
    margin-bottom: 70px;
    height: 1000px;
    background-image: url(../img/tex.jpg);
    padding-left: 10px;
    padding-right: 25px;
    box-shadow: 7px 10px #878585;
}
    #formPrinmod legend {
        margin-top: 10px;
    }

    #formPrinmod input {
        margin-right: 10px;
    }
#titIde input, #titIde label {
    margin-left: 15px;

}
#formPrinmod label {
    margin-top: 12px;
}
.btnmenu img {
    width:45px; 
    height:45px;
}
.groupbtn {
   float:right;
   border:1px solid red;
}
/*#btnMod, #btnElim, #btnCrear, #btnReg, #btnEliminar, #btnConsul {
    margin-top: 12px;
    background-color: black;
    color: white;
    padding-right: 30px;
    padding-left: 30px;
    border:1px solid white;
}
 #btnMod:hover, #btnElim:hover, #btnCrear:hover, #btnReg:hover, #btnEliminar:hover, #btnConsul:hover {
    color: white;
    background-color: #56595A;
    border: 1px solid #898483;
    min-width: 130px;
    box-shadow: 0px 6px 33px 0px rgba(0,0,0,0.50);
 }*/
/*PANTALLA DE MODIFICACIONES*/
#tito {
    margin: 0px;
    margin-top: 60px;
    width: 150px;
}

.list-group a {
    background-color: black;
    color: white;
    opacity: 0.5;
}

.list-group a:hover {
     -webkit-box-shadow: 0px 6px 35px 0px #DFDFEA;
     -moz-box-shadow: 0px 6px 35px 0px #DFDFEA;
     box-shadow: 0px 6px 35px 0px #DFDFEA;
}

.cortar {
    padding-left: 35px;
}

#formModific, #formCons, #formUser {
    background-image: url(../img/man.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#formMod {
    display:none;
}
#txtIdticket {
    width:340px;
}

#formMod legend {
    margin-top: 20px;
}

    #formMod input {
        margin-right: 10px;

    }

    #formMod label {
        margin-top: 12px;
    }

#causa {
    margin-top: 40px;
}

#btnLimpiar {
    background-color: black;
    margin-top: 50px;
    margin-left: 1030px;
    padding-right: 30px;
    padding-left: 30px;
    color: white;
}

#btnLimpiar:hover {
    -webkit-box-shadow: 0px 6px 33px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: 0px 6px 33px 0px rgba(0,0,0,0.50);
     box-shadow: 0px 6px 33px 0px rgba(0,0,0,0.50);
}

#btnGuardar {
    background-color: black;
    margin-top: 50px;
    margin-left: 35px;
    padding-right: 25px;
    padding-left: 25px;
    color: white;
}

 #btnGuardar:hover {
     -webkit-box-shadow: 0px 6px 33px 0px rgba(0,0,0,0.50);
     -moz-box-shadow: 0px 6px 33px 0px rgba(0,0,0,0.50);
     box-shadow: 0px 6px 33px 0px rgba(0,0,0,0.50);
    }
 /*PANTALLA ELIMINACION*/

#formDelete {
    display: none;
}
#formDelete legend {
    margin-top: 50px;
 }

#formDelete input {
     margin-right: 10px;
     width: 417px;
}

#formDelete label {
    margin-top: 12px;
}

#btnLimp , #btnBuscar {
    background-color: black;
    margin-top: 70px;
    margin-left: 130px;
    padding-right: 30px;
    padding-left: 30px;
    color: white;
}

#btnLimp:hover, #btnBuscar:hover{
   -webkit-box-shadow: 0px 6px 33px 0px rgba(0,0,0,0.50);
   -moz-box-shadow: 0px 6px 33px 0px rgba(0,0,0,0.50);
    box-shadow: 0px 6px 33px 0px rgba(0,0,0,0.50);
}

#btnSave, #btnSig {
    background-color: black;
    margin-top: 70px;
    margin-left: 5px;
    padding-right: 25px;
    padding-left: 25px;
    color: white;
}

 #btnSave:hover {
    -webkit-box-shadow: 0px 6px 33px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: 0px 6px 33px 0px rgba(0,0,0,0.50);
     box-shadow: 0px 6px 33px 0px rgba(0,0,0,0.50);
 }
 /*BUSQUEDA DE CAMBIOS*/

#formConsul legend {
    margin-top:40px;
}
#Buscador {
    margin-top: 40px;
    margin-left: 15px;
    }
#txtBusqueda{
    width:430px;
}
#btnBuscar {
    margin-top:1px;
    margin-left:0px;
}
#labCambio {
    margin-top: 7px;
}

/*REGISTRO DE USUARIOS & PERSONAS*/


#formConsul, #formCrear, #CreaUser, #crealogin, #modPersona, #modusuario, #formConsulusers, #elimiusu {
    display: none;
}

#colum6 {
    margin-left: 310px;
    margin-top: 40px;
}
#modcol12 {
    margin-bottom: 100px;
}
#colmd6 {
    margin-left: 310px;
    margin-top: 40px;
}
#secuser label {
    margin-top: 12px;
}
#secuser legend {
    margin-top: 20px;
}
#colsix {
    margin-left: 320px;
    margin-top: 70px;
}
/*Botones*/
#btnSave, #btnSigu, #btnContinuar, #lvaciar, #btnsav, #btncont, #btnregres, #btnli, #btngua, #btnVaciar ,#btnEliminar {
   background-color: black;
   margin-top: 70px;
   margin-left: 5px;
   padding-right: 25px;
   padding-left: 25px;
   color: white;
}

 #btnSave:hover, #btnSigu:hover, #btnContinuar:hover, #lvaciar:hover, #btnsav:hover, #btncont:hover, #btnregres:hover, #btnli:hover, #btngua:hover, #btnVaciar:hover, #btnEliminar:hover {
    -webkit-box-shadow: 0px 6px 33px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: 0px 6px 33px 0px rgba(0,0,0,0.50);
     box-shadow: 0px 6px 33px 0px rgba(0,0,0,0.50);
 }

#btnContinuar, #btnregres, #btnVaciar {
    margin-left: 600px;
}
#btnSigu, #btncont {
    margin-left: 1100px;
}
#btnVaciar {
    margin-left: 750px;
}
/*SECCION DE CATALOGOS*/
.btnGroupDrop1{
    color: white;
    background-color: black;
    border: 1px solid #898483;
    min-width: 130px;
    box-shadow: 0px 6px 33px 0px rgba(0,0,0,0.50);
}
.btnGroupDrop1:hover{
    color: white;
    background-color: #56595A;
    border: 1px solid #898483;
    min-width: 150px;
    box-shadow: 0px 6px 33px 0px rgba(0,0,0,0.50);
}
.dropdown-menu {
    background-color: black;
    border: 1px solid #898483;
    min-width: 130px;
    box-shadow: 0px 6px 33px 0px rgba(0,0,0,0.50);
    margin-top: 0px;
}
.dropdown-item {
    margin-left: 16px;
    margin-right: 5px;
    color: white;
    text-decoration: none;
}
.dropdown-item:hover {
    text-decoration: underline;
    color:white;
}
.linea{
    margin-top:5px; 
    margin-bottom:5px;
}
/*CATALOGOS*/
/*CREACION DE CATALOGOS*/
#catCorreo, #catEmpresa, #catMesa, #catCat, #catTipo, #catEstado, #catPrioridad, #catAccticket, #catAproticket, #catResp, #CatcrearRoles {
    display: none;
}
/*MODIFICACION DE CATALOGOS*/
#catModresp, #catModAproticket, #catModaccticket, #catModprioridad, #catModestado, #catModtipo, #catModcat, #catModmesa, #catModempresa, #catModcorreo, #CatmodRoles {
    display: none;
}
/*ELIMINACION DE CATALOGOS*/
#catElimresp, #catElimAproticket, #catElimaccticket, #catElimprioridad, #catElimestado, #catElimtipo, #catElimcat, #catElimmesa, #catElimempresa, #catElimcorreo, #CatelimRoles {
    display: none;
}
/*DISEÑO DE PANTALLAS DE CATALOGOS*/
.catal {
    margin-left: 300px;
    margin-top: 100px;
}
.btncat {
    color: white;
    background-color: black;
    border: 1px solid #898483;
    min-width: 100px;
    box-shadow: 0px 6px 33px 0px rgba(0,0,0,0.50);
    float:right;
    margin-top:50px;
}
.btncat:hover {
    color: white;
    background-color: #56595A;
    border: 1px solid #898483;
    min-width: 110px;
    box-shadow: 0px 6px 33px 0px rgba(0,0,0,0.50);
}
/*APROBACIONES*/
#formCrearAprobacion, #formModAprobacion, #formElimapro, #formConsulapro {
    display: none;
}
/*ACCION*/
#formConsulaccio, #formElimaccion, #formModAccion, #formCrearAccion {
    display: none;
}